/* styles/global.css */

/* 모바일일 때 */
@media (max-width: 767px) {
  .homeMenuBorderBottomColor {
    border-right: 0px !important;
  }

  .homeMenuItemColor {
    padding: 5px !important;
    margin: 0 20px;
    display: flex;
    align-items: center;
    border-right: 0px !important;
  }

  /* 호버 시 텍스트 색상 변경 */
  .homeMenuItemColor:hover {
    color: #cb6c2b !important;
    background-color: #fcbf5d !important;
  }

  /* 선택된 메뉴 아이템 텍스트 색상 변경 */
  .homeMenuItemColor.ant-menu-item-selected {
    color: #cb6c2b !important;
    background-color: #fcbf5d !important;
  }
}

/* 웹일 때 */
@media (min-width: 768px) {
  .homeMenuItemColor {
    padding: 5px !important;
    margin: 0 20px;
    /* color: black; */
  }

  .homeMenuItemColor:hover {
    color: #fcbf5d !important;
  }

  /* 선택된 메뉴 아이템 텍스트 색상 변경 */
  .homeMenuItemColor.ant-menu-item-selected {
    color: #fcbf5d !important;
  }

  /* 선택 된 메뉴 밑줄 색 변경 */
  .homeMenuBorderBottomColor .ant-menu-item-selected::after {
    border-bottom: 2px solid #fcbf5d !important;
  }
  /* 호버시 밑줄 색 변경  */
  .homeMenuBorderBottomColor .ant-menu-item:hover::after {
    border-bottom: 2px solid #fcbf5d !important;
  }
}

#dentalBtn {
  background-color: #fcbf5d !important;
  border: none !important;
  border-radius: 4px !important;
  color: black !important;
  width: 100px;
  height: 36px;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
}

#dentalBtn:hover {
  background-color: #cb6c2b !important;
  color: white !important;
}

#dentalBtn:active {
  background-color: #cb6c2b !important;
  color: white !important;
}
